*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1272px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
button{
    border: none;
    cursor: pointer;
}