@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: Lazeral;
    src: url("../fonts/Lalezar-Regular.woff");
}


$main-clr: #f00;
$second-clr: #000;
$bg: #EDF2F4;
$font-py: Lazeral;
$font-by: Inter;