.choose{
    margin-top: 170px;
    text-align: center;
    .choose__wrapper{
        @include dg(repeat(3, 1fr), 100px);
        .choose__card{
            @include df(center, center, 20px, column);
            margin-top: 150px;
            .choose__title{
                font-family: $font-py;
                font-size: 48px;
            }
            .choose__desc{
                font-family: $font-by;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 990px) {
    .choose{
        margin-top: 140px;
        .choose__wrapper{
            grid-template-columns: repeat(2, 1fr);
            .choose__card{
                gap: 15px;
                margin-top: 120px;
                .choose__title{
                    font-family: $font-py;
                    font-size: 44px;
                }
                .choose__desc{
                    font-family: $font-by;
                    font-size: 17px;
                }
            }
        }
    }
}
@media (max-width: 650px) {
    .choose{
        .choose__top{
            width: 2%;
            height: 2%;
        }
        margin-top: 60px;
        .choose__wrapper{
            grid-template-columns: 1fr;
            .choose__card{
                gap: 4px;
                margin-top: 20px;
                .choose__title{
                    font-family: $font-py;
                    font-size: 40px;
                }
                .choose__desc{
                    font-family: $font-by;
                    font-size: 16px;
                }
            }
        }
    }
}